html {
  overflow-y: scroll;
}

body {
  font-size: 16px;
  line-height: 1.6;
}

h3 {
  margin: 30px 0 12px;
}

p {
  margin-bottom: 20px;
}

.section {
  min-height: 500px;
}

.navbar h1 {
  color: #fff;
}

.footer {
  min-height: 80px;
}

.header {
  padding: 20px 0;
  background-color: #eee;
}

.clearfix:before,
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
}
.clearfix:after {
    clear: both;
}

.logo, .navigation {
  display: block;
  vertical-align: baseline;
}

h1.logo {
  font-size: 1.6em;
  font-weight: bold;
  margin: 0;
  float: left;
}

.navigation {
  float: right;
}

.navigation a {
  font-size: 1.4rem;
  display: inline-block;
  padding: 10px;
}

.navigation a:hover {
  background-color: #fff;
  text-decoration: none;
  border-radius: 3px;
}

.header-container a,
.header-container a:link,
.header-container a:visited, {
  color: #ccc;
}
